.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-left: 0;

  border-radius: 0 0 35px 35px;

  box-shadow: var(--box-shadow);

  background-color: var(--bg-color);
}

.header__title {
  background-color: var(--blue);
  color: var(--text-secondary);
  border-radius: 0px 14px 15px 0px;
  padding: 0.75rem;
  width: 40%;
}

.header__title h1 {
  font-size: var(--text-strong2);
  font-weight: 700;
  margin-bottom: 6px;
}

.header__buttons {
  display: flex;
  gap: 1rem;
}

.header__time {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.header__time > strong {
  font-size: var(--text-heading1);
  font-weight: 400;
}

.header__time > p {
  font-size: var(--text-strong);
}
