.activities {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
  height: 100%;

  padding: 0 1rem;
  padding-bottom: 2rem;

  width: fit-content;
  min-width: 99vw;
}

.tab-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tab-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
}

.tab-content {
  overflow: scroll;
  padding: 1rem 0;
}
