@import url(reset.css);
@import url(variables.css);
@import url(form.css);
@import url(activitiesList.css);

@import url(components/header.css);
@import url(components/tabs.css);
@import url(components/button.css);
@import url(components/input.css);
@import url(components/activity.css);

body {
  display: flex;
  flex-direction: column;

  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-secondary-color);

  background-image: url(../assets/images/compassLogo.png);
  background-repeat: no-repeat;
  background-position: 130% 250%;

  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}

p {
  margin: 0;
}

/* width */
*::-webkit-scrollbar {
  width: 1rem;
  border-radius: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--gray-400);

  border: 5px solid var(--bg-color);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--gray-600);
  border-radius: 10px;
}

*::-webkit-scrollbar-corner {
  display: none;
}

.Flipped {
  transform: rotateX(180deg);
  margin-top: 1rem;
}
